.banner {
  background-image: url("../images/family/boruibanner.jpg");
}
.content2 .pics {
  margin-top: 40px;
}
.content2 .pics .img-container {
  float: left;
  height: 264px;
  width: 378px;
  cursor: pointer;
  position: relative;
}
.content2 .pics .img-container div {
  display: none;
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align: right;
  opacity: 0.6;
  background-color: #000;
  width: 348px;
  padding: 15px;
}
.content2 .pics .img-container div .second {
  font-size: 14px;
}
.content2 .pics .img-container:hover div {
  display: block;
}
.content3 .content3-container .text {
  width: 300px;
  float: left;
  overflow: hidden;
  font-size: 25px;
  font-family: fantasy;
}
.content3 .content3-container .img {
  width: 805px;
  float: left;
  margin-left: 70px;
}
.content3 .content3-container .img .img-container {
  float: left;
  cursor: pointer;
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
}
.content3 .content3-container .img .img-container div {
  display: none;
  position: absolute;
  bottom: 4px;
  color: #fff;
  text-align: right;
  opacity: 0.6;
  background-color: #000;
  width: 360px;
  padding: 15px;
  font-size: 22px;
}
.content3 .content3-container .img .img-container div .second {
  font-size: 14px;
}
.content3 .content3-container .img .img-container div.big {
  width: 765px;
}
.content3 .content3-container .img .img-container:hover div {
  display: block;
}
