.wrapper section .cloud-img {
  height: 500px;
  background-image: url("../images/cloud-2.png");
  background-size: 100% 100%;
}
.wrapper section .cloud-container {
  width: 1140px;
  margin: 0 auto;
}
.wrapper section .cloud-container .title .detail-title {
  margin-bottom: 20px;
  font-size: 30px;
  font-family: raleway-Heavy;
}
.wrapper section .cloud-container .title .name-en {
  color: #b4b4b4;
  margin-bottom: 50px;
  font-family: raleway-thin;
  font-size: 15px;
}
.wrapper section .cloud-container .title .name-ch {
  font-size: 24px;
  font-family: FZLTHK;
  color: #424242;
}
.wrapper section .cloud-container .cloud-display {
  margin-top: 25px;
}
.wrapper section .cloud-container .cloud-display .about-title {
  display: inline-block;
}
.wrapper section .cloud-container .cloud-display .detail {
  display: inline-block;
  width: 729px;
  float: right;
}
.wrapper section .cloud-container .cloud-display .detail p {
  line-height: 3;
  font-size: 20px;
  font-family: initial;
  text-align: justify;
  color: #424242;
}
.wrapper section .cloud-container .cloud-display .bottom-pic {
  margin-top: 35px;
}
.wrapper section .cloud-container .cloud-display .bottom-pic .img-content {
  width: 359px;
  display: inline-block;
  vertical-align: top;
}
.wrapper section .cloud-container .cloud-display .bottom-pic .img-content img {
  margin-bottom: 25px;
}
.wrapper section .cloud-container .cloud-display .bottom-pic .img-content.middle {
  margin: 0 25px 0 25px;
}
