.banner {
  height: 500px;
  background-image: url('../images/family/chuanmeibanner.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.container {
  width: 1190px;
  margin: 0 auto;
}
.container .title h1 {
  font-size: 35px;
  font-family: raleway-Heavy;
}
.container .title p {
  font-size: 20px;
  margin-top: 40px;
}
