.banner {
  background-image: url("../images/family/wenchuangbanner.jpg");
}
.slider-container {
  position: relative;
}
.slider-container .slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
}
.slider-container .slider ul li {
  float: left;
  color: black;
}
.slider-container .slider ul {
  width: 300%;
  position: relative;
  margin: 0;
  padding: 0;
}
.slider-container .slider ul li {
  list-style: none;
  width: 33.33%;
}
.slider-container .slider ul li a {
  display: block;
  height: 500px;
  width: 100%;
  overflow: hidden;
}
.slider-container .slider ul li a.first-img {
  background-image: url("../images/family/wenchuanglogo1.jpg");
  background-size: 100% 95%;
  background-repeat: no-repeat;
}
.slider-container .slider ul li a.second-img {
  background-image: url("../images/family/wenchuanglogo2.jpg");
  background-size: 100% 95%;
  background-repeat: no-repeat;
}
.slider-container .slider ul li a.third-img {
  background-image: url("../images/family/wenchuanglogo3.jpg");
  background-size: 100% 95%;
  background-repeat: no-repeat;
}
.slider-container .unslider-arrow {
  display: inline-block;
  height: 65px;
  width: 45px;
  position: absolute;
}
.slider-container .unslider-arrow.prev {
  top: 50%;
  left: 50px;
  margin-top: -32px;
  background-image: url("../images/left-arrow.png");
}
.slider-container .unslider-arrow.next {
  top: 50%;
  right: 50px;
  margin-top: -32px;
  background-image: url("../images/right-arrow.png");
}
.slider-container .dots {
  position: relative;
  left: 50%;
  bottom: 32px;
  margin-left: -75px;
  display: inline-block;
}
.slider-container .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  background-color: #d9d9d9;
  border: 2px solid #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
.slider-container li.active {
  opacity: 1;
  border: 2px solid #e63a3a;
}
.slider-container,
.slider {
  height: 600px;
}
.bottom-pic {
  margin-top: 35px;
}
.bottom-pic .img-content {
  width: 359px;
  display: inline-block;
  vertical-align: top;
}
.bottom-pic .img-content img {
  margin-bottom: 25px;
}
.bottom-pic .img-content.middle {
  margin: 0 25px 0 25px;
}
.content4 .img-container {
  float: left;
  margin: 20px;
  margin-left: 0;
  position: relative;
}
.content4 .img-container .img-hover {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
.content4 .img-container:hover .img-hover {
  display: inline-block;
}
.content4 .top-pics {
  overflow: hidden;
  clear: both;
}
.content4 .top-pics .img-container {
  margin-bottom: 0;
  height: 343px;
}
.content4 .bottom-pic {
  overflow: hidden;
  clear: both;
}
.content4 .bottom-pic .img-container {
  height: 465px;
}
.content5 {
  margin-bottom: 50px;
}
.content5 .main-content .left {
  width: 228px;
  display: inline-block;
  vertical-align: top;
}
.content5 .main-content .left ul {
  padding-left: 0;
}
.content5 .main-content .left ul li {
  position: relative;
  height: 50px;
  line-height: 50px;
  list-style: none;
  color: #a1a1a1;
  font-size: 20px;
  cursor: pointer;
}
.content5 .main-content .left ul li span {
  display: none;
  width: 0;
  height: 0;
  border: 10px;
  border-color: transparent transparent transparent #000000;
  border-style: solid;
  vertical-align: middle;
  margin-top: 13px;
  float: right;
}
.content5 .main-content .left ul li:hover {
  color: #000000;
}
.content5 .main-content .left ul li.select {
  color: #000000;
}
.content5 .main-content .left ul li.select span {
  display: inline-block;
}
.content5 .main-content .right {
  display: inline-block;
  vertical-align: top;
  padding-left: 200px;
}
.content5 .main-content .right img {
  display: none;
}
.content5 .main-content .right img.select {
  display: block;
}
